//Base
@import "./base/vars";
@import "./base/mixins";
@import "./base/base";

//Sections
@import "./sections/header-title";
@import "./sections/header-benefits";
@import "./sections/how-it-works";
@import "./sections/cashback";
@import "./sections/learn-more";
@import "./sections/faq";
@import "./sections/footer";

//Blocks
@import "./blocks/header-nav";
@import "./blocks/button";
@import "./blocks/nav-link";
@import "./blocks/cashback-card";
@import "./blocks/learn-more-pattern";
@import "./blocks/app-buttons";
@import "./blocks/list-group";
@import "./blocks/mobile-menu";
@import "./blocks/socials";
@import "./blocks/toggle-menu";
@import "./blocks/title";

//Media
@import "./media/media";
