/* Reset and base styles  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  height: 100%; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #000000;
  background: #f2f2f4;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

body.noscroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

.list-content.active {
  max-height: 500px;
  transition: max-height 0.5s ease-in;
}

.mobile-menu.active {
  transform: translateX(0);
}

.overlay-video.active {
  display: block;
}

.overlay-video.hidden {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

a,
a:hover {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

input,
textarea,
button {
  font-family: inherit;
  padding: 0;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

button,
input {
  outline: none;
}

button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.svg-plus.active {
  transform: rotate(45deg);

  path {
    stroke: #b2b2b4;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

.tr {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Grid styles */

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.extended-container {
  max-width: 1440px;
  margin: 0 auto;
}

.extended-container--no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

/* Utility */

.none {
  display: none !important;
}

#overlay.active {
  display: block;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
  display: none;
}

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

main {
  position: relative;
  z-index: 2;
}
/* Sticky Footer */

.footer {
  position: relative;
  margin-top: auto; /* sticky footer */

  /* Just for fun */
  background-color: #e2e2e2;
}
