/* Reset and base styles  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%; /* sticky footer */
}

body {
  height: 100%; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #000000;
  background-color: #F2F2F4;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

body.noscroll {
  overflow: hidden;
}

.hidden{
  display: none;
}

.list-content.active{
  max-height: 500px;
  transition: max-height 0.5s ease-in;
}

.rotate{
  transform: rotate(180deg);
}

a,
a:hover {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

input,
textarea,
button {
  font-family: inherit;
  padding: 0;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

button,
input {
  outline: none;
}

button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.svg-plus.active{
  transform: rotate(45deg);

   path{
     stroke: #B2B2B4;
   }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

.tr {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Grid styles */

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.extended-container{
  max-width: 1440px;
  margin: 0 auto;

}

.extended-container--no-padding{
  padding-left: 0px;
  padding-right: 0px;
}

/* Utility */

.none {
  display: none !important;
}

/* Sticky Footer */

.footer {
  margin-top: auto; /* sticky footer */

  /* Just for fun */
  background-color: #e2e2e2;
  padding: 50px 0;
}
