.header-nav {
  padding-top: 37px;
  padding-bottom: 37px;

  & .container{
    @media (max-width: $mobile){
      width: unset;
    }
  }

  @media (max-width: $mobile){
    padding-top: 19px;
    padding-bottom: 67px;
  }
}

.header-nav__wrapper {
  display: flex;
  align-items: center;
  
  @media (max-width: $mobile){
    justify-content: space-between;
  }
}

.header-nav__left {
  display: flex;
  align-items: center;
  width: 70%;
  min-width: 579px;

  @media (max-width: $mobile){
    min-width: unset;
  }

  
}

.header-nav__right {
  display: flex;
  justify-content: flex-end;
  width: 30%;

  @media (max-width: $mobile) {
    display: none;
  }
}

.header-nav__left > * + * {
  margin-left: 56px;
}

.header-nav__menu{
  @media (max-width: $mobile) {
    display: none;
  }
}

.header-nav__menu > * + * {
  margin-left: 24px;
}

.header-nav__buttons {
  display: flex;
  align-items: center;
}

.header-nav__buttons > * + * {
  margin-left: 19px;
}
