.header-nav {
  position: fixed;
  top: 0;
  width: 100%;

  background-color: #f2f2f4;

  padding-top: 37px;
  padding-bottom: 37px;

  z-index: 97;

  & .container {
    @media (max-width: $mobile) {
      width: unset;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @media (max-width: $mobile) {
    padding-top: 19px;
    padding-bottom: 19px;

    background-color: #f2f2f4;
  }
}

.header-nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  max-width: 593px;

  @media (max-width: $mobile) {
    min-width: unset;
  }
}

.header-nav__right {
  display: flex;
  justify-content: flex-end;
  width: 33%;

  @media (max-width: $mobile) {
    display: none;
  }
}

.header-nav__menu {
  @media (max-width: $mobile) {
    display: none;
  }
}

.header-nav__menu > * + * {
  margin-left: 24px;
}

.header-nav__buttons {
  display: flex;
  align-items: center;
}

.header-nav__buttons > * + * {
  margin-left: 19px;
}

.manufacturers .header-nav {
  background-color: #1d1d1d;

  .header-nav__left a {
    color: #fff;

    &:hover {
      color: #f31818;
    }
  }
}

.manufacturers .header-nav {
  @media (max-width: $mobile) {
    background-color: #f2f2f4;
  }
}
