.overlay-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
  display: none;

  overflow: hidden;
}

.overlay-video .extended-container {
  position: relative;
  overflow: hidden;
  padding-top: 810px;
  margin-top: 233px;

  @media (max-width: $mobile){
    padding-top: 202px;
    margin-top: 450px;
  }
}

.overlay-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


