.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  & svg {
    path {
      transition: fill 0.2s ease-out;
    }

    &:hover {
      path {
        fill: rgba(255, 255, 255, 0.6);
      }
    }
  }

}
