.toggle-menu {
  display: none;

  justify-content: flex-end;
  width: 48px;
  height: 48px;

  padding-bottom: 10px;
  padding-top: 10px;

  @media (max-width: $mobile) {
    display: flex;
  }
}

.toggle-menu__gamburger {
  width: 28px;
  height: 20px;
}

.toggle-menu span {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 3px;
  border-radius: 24px;
  background-color: #000000;
  transition: 0.5s;
}

.toggle-menu span:before,
.toggle-menu span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000000;
  transition: 0.5s;
}

.toggle-menu span::before {
  top: -7px;
}

.toggle-menu span::after {
  bottom: -7px;
}
