.toggle-menu {
  display: none;

  justify-content: flex-end;
  width: 48px;
  height: 48px;
  z-index: 99;

  padding-bottom: 10px;
  padding-top: 10px;

  cursor: pointer;

  @media (max-width: $mobile) {
    display: flex;
  }
}

.toggle-menu__gamburger {
  width: 28px;
  height: 20px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 3px;
  border-radius: 24px;
  background-color: #000000;
  transition: 0.5s;
}

.toggle:before,
.toggle:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000000;

  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.toggle::before {
  top: -7px;
}

.toggle::after {
  top: 7px;
}

.toggle.toggle--active {
  background: transparent;
}

.toggle.toggle--active::before {
  transform: rotate(-45deg);
}

.toggle.toggle--active::after {
  transform: rotate(45deg);
}

.toggle.toggle--active::before,
.toggle.toggle--active::after {
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
