.analytics {
  padding-bottom: 104px;
  h2 {
    width: 744px;
    margin-bottom: 56px;

    @media (max-width: $tablet){
      width: 697px;
    }

    @media (max-width: $mobile) {
      width: auto;
      max-width: 419px;
      text-align: center;
    }
  }

  @media (max-width: $mobile) {
    padding-bottom: 48px;
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.analytics__cards-wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: center;

    & > * + * {
      margin-top: 24px;
    }
  }
}
