.cashback {
  position: relative;
  padding-bottom: 104px;
  z-index: 2;

  & .title-h1{
      width: 613px;
      
  }

  @media (max-width: $mobile){
    padding-top: 48px;
    padding-bottom: 0;

    & .container{
      padding-left: 0;
      padding-right: 0;
    }

    & .title-h1{
      max-width: 376px;
      width: auto;
      padding-left: 30px;
      
  }

    
  }
}



.cashback-cards__wrapper {
  margin-top: 48px;
}

.cashback-cards__wrapper > * + * {
  margin-top: 104px;

  @media (max-width: $mobile){
    margin-top: 24px;
  }
}

.partners .cashback{
  padding-top: 104px;

  @media (max-width: $mobile){
    padding-top: 48px;
  }
}


.partners .cashback .title-h1 {
  width: 675px;

  @media (max-width: $mobile){
    width: 300px;
  }
}