.faq {
  padding-top: 96px;
  padding-bottom: 72px;
  z-index: 2;

  & h2 {
    margin-bottom: 56px;
  }

  @media (max-width: $mobile){
    padding-top: 0;
    padding-bottom: 48px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;

    & h2 {
      margin-bottom: 31px;
    }
  }
}