.faq {
  padding-bottom: 104px;
  & h2 {
    margin-bottom: 56px;
  }

  @media (max-width: $mobile) {
    padding-top: 0;
    padding-bottom: 48px;

    & h2 {
      margin-bottom: 31px;
    }
  }
}
