.footer {
  background-color: #f2f2f4;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 1.438rem;

  & a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    line-height: 1.25rem;
    transition: 0.2s ease-out;

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  @media (max-width: $mobile) {
    padding-top: 0;
    background-color: #f2f2f4;
    .container {
      background-color: #1d1d1d;
    }
  }
}

.footer__content {
  padding-top: 88px;
  padding-bottom: 24px;
  padding-left: 120px;
  padding-right: 128px;

  background-color: #1d1d1d;

  @media (max-width: $mobile) {
    padding-top: 0;
    padding-left: 32px;
    padding-right: 36px;
  }
}

.footer__widgets-wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile) {
    flex-direction: column-reverse;
  }
}

.footer__left {
  display: flex;

  @media (max-width: $mobile) {
    flex-direction: column-reverse;
  }
}

.footer__left > * + * {
  margin-left: 36px;

  @media (max-width: $mobile) {
    margin-left: 0;
  }
}

.footer__desc {
  width: 285px;
  margin-bottom: 37px;

  & p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    line-height: 1.688rem;
  }
}

.footer__desc > * + * {
  margin-top: 12px;
}

.footer__desc ul > * + * {
  margin-top: 12px;
}

.footer__menu {
  display: flex;
  text-align: left;
}

.footer__menu > * + * {
  margin-left: 79px;
}

.footer__menu ul > * + * {
  margin-top: 16px;
}

.footer__links {
  display: flex;
  flex-direction: column;

  padding-top: 68px;

  @media (max-width: $mobile) {
    padding-top: 40px;
  }
}

.footer__links > * + * {
  margin-top: 20px;
}

.footer__downloads {
  display: flex;
  align-items: flex-end;
  min-width: 406px;

  @media (max-width: $mobile) {
    min-width: unset;
  }
}

.footer__creds {
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile) {
    margin-top: 32px;
    flex-direction: column-reverse;
  }
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;

  & h3 {
    width: 208px;
    margin-top: 20px;

    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.35;
    color: rgba(255, 255, 255, 1);
  }

  @media (max-width: $mobile) {
    margin-top: 32px;
  }
}

.footer__buttons {
  & p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.footer__buttons-row svg {
  cursor: pointer;
  rect {
    transition: fill 0.2s ease-out;
  }

  &:hover {
    rect {
      fill: rgba(255, 255, 255, 0.8);
    }
  }
}
.footer__buttons-row > * + * {
  margin-left: 20px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  padding-top: 52px;
  width: 26%;

  @media (max-width: $mobile) {
    width: auto;
  }
}

.footer__socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & svg {
    path {
      transition: fill 0.2s ease-out;
    }

    &:hover {
      path {
        fill: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

.footer__contacts {
  margin-bottom: 32px;

  @media (max-width: $mobile) {
    li {
      font-size: 16px;
    }
  }
}

.footer__contacts a {
  font-size: 20px;
  line-height: 1;
  color: rgba(255, 255, 255, 1);
}

.footer__contacts ul > * + * {
  margin-top: 20px;
}

.footer__contacts li:nth-child(1) {
  margin-bottom: 16px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  margin-top: 24px;
  border-top: 1px solid rgba(255, 255, 255, 1);

  @media (max-width: $mobile) {
    margin-top: 0;
    padding-bottom: 32px;
  }
}

.footer__copyright {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
  padding-right: 5px;

  color: rgba(255, 255, 255, 0.7);

  & a {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.438rem;
  }

  & span {
    color: rgba(255, 255, 255, 1);
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;

    p,
    span {
      opacity: 0.5;
    }

    a {
      opacity: 0.8;
    }
  }
}

.footer__copyright > * + * {
  margin-left: 0px;
}

.footer__copyright-left,
.footer__copyright-right {
  display: flex;
  justify-content: space-between;
}

.footer__copyright-left {
  width: 50%;
  min-width: 510px;

  p {
    margin-right: 16px;
  }

  @media (max-width: $mobile) {
    flex-direction: column-reverse;
    width: auto;
    min-width: unset;
  }
}

@media (max-width: $mobile) {
  .footer__copyright-left > * + * {
    margin-bottom: 16px;
  }
}

.footer__copyright-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;

  @media (max-width: $mobile) {
    position: absolute;
    top: 62px;
    right: 0;

    opacity: 0.5;
  }
}

.footer__copyright-links {
  display: flex;
  justify-content: flex-start;

  @media (max-width: $mobile) {
    flex-direction: row-reverse;
    min-width: unset;

    a:nth-child(1) {
      width: 141px;
    }
  }
}

.footer__copyright-links > * + * {
  margin-left: 38px;

  @media (max-width: $mobile) {
    margin-left: 0;
  }
}

.footer .app-buttons {
  @media (max-width: $mobile) {
    svg:nth-child(1) {
      width: 135px;
      height: 46px;
    }

    svg:nth-child(2) {
      width: 148px;
      height: 46px;
    }
  }
}

.footer .app-buttons p {
  @media (max-width: $mobile) {
    width: 175px;
  }
}

.partners .footer {
  margin-top: -30px;
}

.partners .footer__content {
  padding-top: 118px;

  @media (max-width: $mobile) {
    padding-top: 78px;
  }
}

.partners .footer__right {
  @media (max-width: $mobile) {
    padding-top: 0;
  }
}
