.header-benefits {
  color: white;
}

.header-benefits__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $mobile) {
    flex-direction: column-reverse;
    margin-top: -30px;
  }
}

.header-benefits__right {
  min-width: 500px;
  width: 87.5%;

  @media (max-width: $tablet) {
    width: 80.4%;
    min-width: unset;
  }

  @media (max-width: $mobile) {
    width: auto;
  }
}

.header-benefits__left {
  width: 59.5%;
  min-width: 471px;
  object-fit: cover;

  & img {
    object-fit: cover;
    height: 100%;
  }

  @media (max-width: $tablet) {
    width: 59.7%;
    min-width: 475px;
  }

  @media (max-width: $mobile) {
    min-width: unset;
    width: auto;
    margin-top: -35px;
    z-index: 2;

    img {
      width: 100%;
      border-radius: 32px;
    }
  }
}

.header-benefits__left img:nth-child(1) {
  display: block;
  @media (max-width: $mobile) {
    display: none;
  }
}

.header-benefits__left img:nth-child(2) {
  display: none;

  @media (max-width: $mobile) {
    display: block;
  }
}

.header-benefits__desc {
  display: flex;
  flex-direction: column;
  padding-top: 104px;
  padding-bottom: 125px;
  padding-left: 93px;

  background: #1d1d1d;

  @media (max-width: $tablet) {
    padding-top: 64px;
    padding-left: 56px;
    padding-bottom: 64px;
  }

  @media (max-width: $mobile) {
    padding: 50px 24px 80px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
  }
}

.header-benefits__desc > * + * {
  margin-top: 75px;

  @media (max-width: $tablet) {
    margin-top: 26px;
  }

  @media (max-width: $mobile) {
    margin-top: 32px;
  }
}

.header-benefits__top {
  display: flex;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.header-benefits__top > * + * {
  margin-left: 38px;

  @media (max-width: $tablet) {
    margin-left: 42px;
  }

  @media (max-width: $mobile) {
    margin-left: 0;
    margin-top: 32px;
  }
}

.header-benefits__bottom {
  display: flex;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.header-benefits__bottom .header-benefits__element:nth-child(1) {
  br {
    display: none;
  }
}

.header-benefits__bottom .header-benefits__element:nth-child(2) {
  br {
    display: none;
  }
}

.header-benefits__bottom > * + * {
  margin-left: 38px;

  @media (max-width: $tablet) {
    margin-left: 42px;
  }

  @media (max-width: $mobile) {
    margin-left: 0;
    margin-top: 32px;
  }
}

.header-benefits__element {
  display: flex;
  flex-direction: column;
  width: 39.5%;
  min-width: 247px;

  & svg {
    margin-bottom: 24px;
  }

  @media (max-width: $tablet) {
    width: 37.5%;
    min-width: unset;
  }

  @media (max-width: $mobile) {
    flex-direction: row;
    width: auto;
    min-width: unset;
  }
}

.header-benefits__info {
  p {
    font-size: 20px;
  }
  @media (max-width: $tablet) {
    .title-h3 {
      font-size: 28px;
    }
  }

  @media (max-width: $mobile) {
    margin-left: 16px;

    .title-h3 {
      font-size: 24px;
    }

    p {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 1.35;
    }
  }
}

.header-benefits__info > * + * {
  margin-top: 8px;

  @media (max-width: $mobile) {
    margin-top: 6px;
  }
}

.header-benefits__icon {
  flex-shrink: 0;

  @media (max-width: $tablet) {
    svg {
      height: 64px;
      width: 64px;
    }
  }
  @media (max-width: $mobile) {
    svg {
      width: 48px;
      height: 48px;
    }
  }
}

.partners .header-benefits {
  position: relative;

  z-index: 2;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.016em;
  color: #ffffff;

  @media (max-width: $mobile) {
    margin-top: -30px;
  }
}

.partners .header-benefits__wrapper {
  display: block;

  @media (max-width: $mobile) {
    margin-top: 0;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }
}

.partners .header-benefits__right {
  width: auto;
}

.partners .header-benefits__desc {
  display: flex;
  flex-direction: row;
  padding: 104px 120px;

  @media (max-width: $tablet) {
    padding: 72px 48px;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    padding: 48px 0 28px 32px;
    border-radius: 32px;
  }
}

.partners .header-benefits__desc > * + * {
  margin-left: 75px;
  margin-top: 0;

  @media (max-width: $tablet){
    margin-left: 100px;
  }

  @media (max-width: $mobile) {
    margin-left: 0;
    margin-top: 24px;
  }
}

.partners .header-benefits__element {

  width: 29.2%;

 

  @media (max-width: $tablet) {
    p {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 1.35;
    }
  }

  @media (max-width: $mobile) {
    p {
      font-size: 18px;
    }
    width: auto;
  }
}

.manufacturers .header-benefits__wrapper {
  @media (max-width: $mobile) {
    background: #1d1d1d;
  }
}

.manufacturers .header-benefits {
  padding-top: 104px;
  background: #1d1d1d;

  p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.35;
  }

  @media (max-width: $mobile) {
    margin-top: 0;
    padding-top: 0;
    background: #f2f2f4;

    h2 {
      display: none;
    }
  }
}

.manufacturers .header-benefits__info > * + * {
  margin-top: 12px;
}

.manufacturers .header-benefits__right {
  padding-left: 120px;
  padding-right: 120px;

  @media (max-width: $mobile) {
    padding-top: 48px;
    padding-left: 32px;
    padding-right: 40px;
    padding-bottom: 48px;
  }
}

.manufacturers .header-benefits__desc {
  padding-top: 56px;
  padding-left: 0;
  padding-right: 0;

  @media (max-width: $mobile) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
