.header-title__wrapper {
  display: flex;
  justify-content: flex-end;
}

.header-title__title{
  display: flex;
  flex-direction: column;
  width: 455px;

}

.header-title__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;

  min-width: 471px;
  width: 35%;

  & h1 {
    margin-bottom: 16px;
  }

  & p {
    font-size: 20px;
    width: 260px;
    margin-bottom: 56px;
  }
}

.header-title__buttons {
  display: flex;
}

.header-title__buttons svg {
  cursor: pointer;
  path {
    transition: fill 0.2s ease-out;
  }

  &:hover {
    rect {
      fill: rgba(0, 0, 0, 0.85);
    }
  }
}
.header-title__buttons > * + * {
  margin-left: 29px;
}

.header-title__right {
  display: flex;
  justify-content: center;
  padding-top: 43px;
  min-width: 500px;
  width: 59.5%;
  background-color: #2b64f8;
}

.header-title__right img {
  padding-left: 30px;
  padding-right: 30px;
}
