.header-title__wrapper {
  display: flex;
  justify-content: flex-end;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.header-title__title {
  display: flex;
  flex-direction: column;
  width: 455px;

  @media (max-width: $mobile) {
    width: auto;
  }
}

.header-title__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;

  min-width: 471px;
  width: 35%;

  & h1 {
    margin-bottom: 16px;
  }

  & p {
    font-size: 20px;
    width: 260px;
    margin-bottom: 56px;

    @media (max-width: $mobile) {
      margin-bottom: 39px;
    }
  }

  @media (max-width: $mobile) {
    min-width: 360px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 90px;

    .title-h1 {
      font-size: 36px;
    }
  }
}

.header-title__buttons {
  display: flex;
}

.header-title__buttons svg {
  cursor: pointer;
  path {
    transition: fill 0.2s ease-out;
  }

  &:hover {
    rect {
      fill: rgba(0, 0, 0, 0.85);
    }
  }
}

.header-title__buttons > * + * {
  margin-left: 29px;

  @media (max-width: $mobile) {
    margin-left: 13px;
  }
}

.header-title__right {
  display: flex;
  justify-content: center;
  padding-top: 43px;
  min-width: 500px;
  width: 59.5%;
  background-color: #2b64f8;

  @media (max-width: $mobile) {
    min-width: unset;
    width: auto;
    padding-top: 0;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
  }
}


.header-title__right img:nth-child(1) {
  display: block;
  @media (max-width: $mobile) {
    display: none;
  }
}

.header-title__right img:nth-child(2) {
  display: none;

  @media (max-width: $mobile) {
    display: block;
    margin-top: -33px;
  }
}

.header-title__right img {
  padding-left: 30px;
  padding-right: 30px;
}
