.how-it-works {
  padding-top: 104px;
  padding-bottom: 104px;

  & h2 {
    margin-bottom: 48px;
  }

  @media (max-width: $tablet){
    padding-top: 72px;
    padding-bottom: 144px;
  }

  @media (max-width: $mobile) {
    padding-top: 48px;
    padding-bottom: 0;

    h2 {
      width: 250px;
      margin-bottom: 32px;
      padding-left: 30px;
    }
  }
}

.how-it-works .container {
  @media (max-width: $mobile) {
    padding-left: 0;
    padding-right: 0;
  }
}

.how-it-works__card-wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.how-it-works__card {
  display: flex;
  flex-direction: column;
  height: 520px;
  max-width: 375px;
  width: 33%;

  padding-left: 32px;
  padding-right: 32px;
  padding-top: 335px;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.15;
  letter-spacing: -0.016em;

  color: #fff;
  border-radius: 24px;
  background-repeat: no-repeat;

  img {
    display: none;
  }

  & p + p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.35;
    opacity: 0.9;

    br {
      display: none;
    }

    @media (max-width: $tablet) {
      font-size: 16px;
    }

    @media (max-width: $mobile) {
      font-size: 18px;

      br {
        display: block;
      }
    }
  }

  @media (max-width: $tablet) {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 24px;

    justify-content: space-between;

    font-size: 20px;
    width: 31.8%;
    height: 450px;

    p {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  @media (max-width: $mobile) {
    font-size: 24px;
    padding-bottom: 93px;

    min-height: 545px;
    max-width: unset;
    width: 100%;
    border-radius: 32px;
  }
}

.how-it-works__info > * + * {
  margin-top: 8px;
}

.how-it-works__card:nth-child(1) {
  background-image: url(../img/section-how-it-works/bg-map.png);

  @media (max-width: $tablet) {
    background-image: url(../img/section-how-it-works/tablet-bg-map.png);

    & img:nth-child(1) {
      display: block;
    }

    & img:nth-child(2) {
      display: none;
    }
  }

  @media (max-width: $mobile) {
    background-image: url(../img/section-how-it-works/xs-bg-map.png);
    background-size: 100% 100%;

    .how-it-works__image {
      display: flex;
      justify-content: flex-end;
    }

    & img:nth-child(1) {
      display: none;
    }

    & img:nth-child(2) {
      display: block;
    }

    p {
      width: 343px;
    }
  }
}

.how-it-works__card:nth-child(2) {
  background-image: url(../img/section-how-it-works/bg-scan.png);
  br {
    display: none;
  }

  @media (max-width: $tablet) {
    background-image: url(../img/section-how-it-works/tablet-bg-scan.png);

    .how-it-works__image {
      display: flex;
      align-items: flex-start;
    }

    img {
      padding-left: 30px;
      padding-right: 60px;
    }

    & img:nth-child(1) {
      display: block;
    }

    & img:nth-child(2) {
      display: none;
    }
  }

  @media (max-width: $mobile) {
    min-height: 565px;
    background-image: url(../img/section-how-it-works/xs-bg-scan.png);
    background-size: 100% 100%;
    margin-top: -55px;

    padding-bottom: 95px;

    & img:nth-child(1) {
      display: none;
    }

    & img:nth-child(2) {
      display: block;
    }

    br {
      display: block;
    }
  }
}

.how-it-works__card:nth-child(3) {
  background-image: url(../img/section-how-it-works/bg-cards.png);

  @media (max-width: $tablet) {
    background-image: url(../img/section-how-it-works/tablet-bg-cards.png);

    .how-it-works__image {
      display: flex;
      justify-content: flex-end;
    }

    & img:nth-child(1) {
      display: block;
      border-top-right-radius: 24px;
    }

    & img:nth-child(2) {
      display: none;
    }
  }

  @media (max-width: $mobile) {
    background-image: url(../img/section-how-it-works/xs-bg-cards.png);
    background-size: 100% 100%;
    
    min-height: 520px;
    margin-top: -55px;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    & img:nth-child(1) {
      display: none;
    }

    & img:nth-child(2) {
      display: block;
      border-top-right-radius: 32px;
    }
  }
}

.how-it-works__card > * + * {
  @media (max-width: $tablet) {
    margin-top: 23px;
  }
}

.partners .how-it-works__card {
  padding: 32px 32px;

  & p:nth-child(1) {
    font-size: 40px;
  }

  & p:nth-child(2) {
    font-size: 24px;
    line-height: 1.15;
  }
}

.partners .how-it-works__card:nth-child(1) {
  background-image: url(../img/partners-section-how-it-works/bg-places.png);
}

.partners .how-it-works__card:nth-child(2) {
  background-image: url(../img/partners-section-how-it-works/bg-cards.png);
}

.partners .how-it-works__card:nth-child(3) {
  background-image: url(../img/partners-section-how-it-works/bg-icons.png);
}

.partners .how-it-works__card > * + * {
  margin-top: 16px;
}

.manufacturers .how-it-works__card {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;

  p {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (max-width: $mobile) {
    min-height: 577px;
  }
}

.manufacturers .how-it-works__card:nth-child(1) {
  background-image: url(../img/manufacturers-section-how-it-works/products.png);
  background-size: 100%;
}

.manufacturers .how-it-works__card:nth-child(2) {
  background-color: #1d1d1d;
  background-image: unset;
  overflow: hidden;

  @media (max-width: $mobile) {
    background-image: url(../img/manufacturers-section-how-it-works/xs-discount.png);
  }
}

.manufacturers .how-it-works__card:nth-child(3) {
  background-image: url(../img/manufacturers-section-how-it-works/cart.png);

  @media (max-width: $mobile) {
    background-image: url(../img/manufacturers-section-how-it-works/xs-cart.png);

    border-radius: 32px;
  }
}
