.learn-more {
  padding-bottom: 104px;

  & h2 {
    width: 481px;
    margin-bottom: 60px;
  }

  @media (max-width: $mobile) {
    padding-top: 48px;
    padding-bottom: 48px;

    h2{
      width: auto;
      margin-bottom: 32px;
    }
  }
}

.learn-more img.template:nth-child(2) {
  display: block;
  @media (max-width: $mobile) {
    display: none;
  }
}

.learn-more img.template:nth-child(3) {
  display: none;
  @media (max-width: $mobile) {
    display: block;
  }
}

.learn-more__desc {
  margin-top: 104px;

  @media(max-width: $mobile){
    margin-top: 56px;
  }
}
