.manufacturers-benefits__content {
  padding: 104px 120px 137px 120px;

  background-color: #1d1d1d;

  h2 {
    color: #fff;
    width: 767px;

    margin-bottom: 48px;
  }

  p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.35;
  }

  @media (max-width: $tablet) {
    padding-top: 72px;
    padding: 40px;
    padding-right: 40px;
    padding-bottom: 105px;
  }

  @media (max-width: $mobile) {
    padding: 48px 32px 81px 32px;
    

    h2 {
      width: auto;

      margin-bottom: 32px;
    }

    h3 {
      font-size: 24px;
    }

    p {
      font-size: 18px;
    }
  }
}

.manufacturers-benefits__row {
  display: flex;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.manufacturers-benefits__row > * + * {
  margin-left: 38px;

  @media (max-width: $mobile) {
    margin-left: 0;
    margin-top: 24px;
  }
}

.manufacturers-benefits__element {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  background-color: #fff;
  border-radius: 24px;

  width: 48.4%;
  min-height: 185px;

  svg {
    flex-shrink: 0;
  }

  @media (max-width: $tablet){
    svg {
      width: 64px;
      height: 64px;
      flex-shrink: 0;
    }
  }

  @media (max-width: $mobile) {
    padding: 24px;

    width: 100%;
    height: 270px;

    flex-direction: column-reverse;
    justify-content: space-between;

    svg {
      width: 56px;
      height: 56px;
    }
  }
}

.manufacturers-benefits__text {
  width: 343px;

  @media (max-width: $mobile) {
    width: auto;
    max-width: 282px;

    br {
      display: none;
    }
  }
}

.manufacturers-benefits__text > * + * {
  margin-top: 8px;
}

.manufacturers-benefits__element:nth-child(2) {
  br {
    display: none;
  }
  @media (max-width: $mobile) {
    br {
      display: block;
    }
    p {
      width: 230px;
    }
  }
}
