.mobile-opportunities {
  display: none;

  @media (max-width: $mobile){
    display: block;
  }
}

.opportunities {
  h2 {
    color: #fff;
    margin-bottom: 48px;
  }

  @media (max-width: $mobile){
    display: none;
  }
}

.mobile-opportunities .opportunities__content {
  h2 {
    color: #fff;
    margin-bottom: 48px;
  }
}

.opportunities__content {
  padding: 104px 120px;
  background-color: #2b64f8;

  overflow: hidden;
}

.mobile-opportunities .opportunities__content {
  @media (max-width: $mobile) {
    padding: 50px 32px 57px 32px;
  }
}

.opportunities__wrapper {
  display: flex;
  flex-direction: column;
}

.mobile-opportunities .opportunities__wrapper {
  @media (max-width: $mobile) {
    flex-direction: row;
    align-items: center;
  }
}

.opportunities__wrapper > * + * {
  margin-top: 38px;
}

.mobile-opportunities .opportunities__wrapper > * + * {
  @media (max-width: $mobile) {
    margin-top: 0;
    margin-left: 24px;
  }
}

.opportunities__top {
  display: flex;
}

.opportunities__top > * + * {
  margin-left: 38px;

  @media (max-width: $mobile) {
    margin-left: 24px;
  }
}
.opportunities__bottom {
  display: flex;
}

.mobile-opportunities .opportunities__bottom {
  display: flex;
}

.opportunities__bottom > * + * {
  margin-left: 38px;
}

.mobile-opportunities .opportunities__bottom {
  @media (max-width: $mobile) {
    margin-left: 24px;
  }
}

.opportunities__element {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 48.5%;
  min-height: 185px;
  padding: 32px;

  background-color: #fff;
  border-radius: 24px;

  & svg {
    flex-shrink: 0;
    max-width: unset;
  }

  & p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.2;

    letter-spacing: -0.016em;

    color: #000000;
  }
}

.mobile-opportunities .opportunities__element {
  @media (max-width: $mobile) {
    flex-direction: column-reverse;
    padding: 24px;
    width: 280px;
    height: 232px;

    svg {
      width: 48px;
      height: 48px;
    }

    & .opportunities__text {
      margin-top: 40px;

      p {
        font-size: 18px;
      }

      @media (max-width: $mobile){
        margin-top: 0;
      }
    }
  }
}

.opportunities__text {
  max-width: 391px;
}

.mobile-opportunities .opportunities__text {
  @media (max-width: $mobile) {
    width: 198px;
  }
}

.mobile-opportunities .opportunities__bottom:nth-child(2) .opportunities__text {
  @media (max-width: $mobile) {
    margin-top: 16px;
    width: auto;
  }
}

.opportunities__icon {
  margin-left: 15px;
}

.mobile-opportunities .opportunities__icon {
  @media (max-width: $mobile) {
    margin-left: 0;
  }
}

.opportunities__pagination {
  margin-top: 28px;
  display: none;
  justify-content: space-between;
  align-items: center;

  p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;

    color: #ffffff;
  }

  svg {
    cursor: pointer;
  }

  @media (max-width: $mobile) {
    display: flex;
  }
}

.opportunities__arrows {
  display: flex;
  justify-content: space-between;
  width: 116px;
}
