.swiper-section {
  padding-bottom: 104px;
  .container {
    overflow: hidden;

    @media (max-width: $mobile){
      padding-right: 0;
      padding-left: 0;
    }
    
  }

  @media (max-width: $mobile) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.swiper-section__header {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: $mobile) {
    justify-content: center;
    margin-bottom: 32px;
  }
}

.swiper-wrapper {
  display: flex;
  
  @media (max-width: $mobile){
    flex-direction: column;
    align-items: center;
  }
}

.swiper-wrapper > * + * {
  margin-left: 44px;

  @media (max-width: $mobile){
    margin-left: 0;
    margin-top: 24px;
  }
}

.swiper__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;

  svg {
    cursor: pointer;
    flex-shrink: 0;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.swiper-pagination {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;

  text-align: center;

  color: #000000;
}
